.diet {
    color: white;
}
h1 {
    color: white;
}
h3 {
    color: white;
}
p {
    color: white;
}
b {
    font-weight: bold;
}

.diet{
	width : 100%;
padding: 50px;
font-size: 20px;
text-align: left;
}
.diettitle{
	text-align: center;
	font-size:35px;

}