body {

margin:0;
padding:0;
  background-image:  url(./Images/Background.jpeg);
  background-repeat: no-repeat; 
  background-size: cover;

  min-width: 100%;
  min-height: 100%;
}


.lh-copy {
    line-height: 1.5;
    text-align: center
    
}

.pa3 {
    padding: 1rem;
    text-align: center
}

.f4 {
    font-size: 1.25rem;
    text-align: center
}

.measure {
    max-width: 30em;
    text-align: center
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 200px;
    height: 500px;
}
.card .card-image .card-title{
    color:white;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: block;
    margin-bottom: 20px;
    
}
.collection-item {
    color: white;

}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}
.cart {
    color: white;
}
